<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="dbtype" value="ORACLE" />
    <add key="ClientConnectType" value="OLEDB" />
    <!--<add key="ORCL" value="Data Source=ORCL1;Provider=MSDAORA;User ID=test;Password=123;Unicode=True"/>-->
    <add key="ORCL" value="Data Source=ORCL1;User Id=test;Password=123;" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="IWbServiceHttpBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.183.9:8080/webService/services/IWbService" binding="basicHttpBinding" bindingConfiguration="IWbServiceHttpBinding" contract="WbService.IWbServicePortType" name="IWbServiceHttpPort" />
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>